@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap');

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

li {
    list-style: none;
}

address,
em,
i {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/* layout */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.hide {
    display: none !important;
}

/* header */
header {
    width: 100%;
    padding-top: 30px;
    /* background: yellow; */
    position: fixed;
    z-index: 20;
    transition: all .5s;
}

header .inner-header {
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 0 80px;
}

header .inner-header .logo {
    width: 170px;
    /* background: red; */
    margin-right: 100px;
    flex: 1;
}

header .inner-header .logo a {
    display: block;
    width: 100%;
    /* background: green; */
    position: relative;
}

header .inner-header .logo a img {
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
}

header .inner-header .logo a img:nth-child(2) {
    opacity: 0;
    transition: all .3s;
}

header .inner-header .intro-text {
    flex: 5;
    text-transform: uppercase;
    color: #fff;
    line-height: 70px;
}

header .inner-header .menu-open {    
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

header .inner-header .menu-open .menu-img {
    margin-left: 15px;
    font-size: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -6px;
}

/* step2 : fix header */
header.on {
    padding: 20px 0 0;
    transition: all .5s;
}

header::before {
    content: '';
    width: 100%;
    height: 0;
    background: #222;
    position: absolute;
    top: 0;
    z-index: -1;
}

header.on::before {
    content: '';
    height: 100%;
    border-bottom: 1px solid #2c2c2c;
}

header.on .inner-header .logo a img:nth-child(2) {
    opacity: 1;
}

/* header gnb */
header .gnb {
    padding: 70px 100px;
    background: #000;
    height: 100vh;
    color: #666;
    position: absolute;
    /* right: 0; */
    right: -100%;
    top: 0;
    z-index: 30;
    box-sizing: border-box;
    transition: all 0.8s;
    display: flex;
    flex-direction: row-reverse;
}

header .gnb.on {
    right: 0;
    transition: all .4s;
}

header .gnb .close {
    display: block;
    font-size: 40px;
    color: #ffffff;
}

header .gnb ul {
    margin-right: 200px;
}

header .gnb ul li {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.7;
    transition: all 0.3s;
}

header .gnb ul li:first-child, header .gnb ul li:hover {
    color: #ffffff;
    transition: all 0.5s;
}

/* section visual */
section.visual {
    position: relative;
}

section.visual .slide li {
    width: 100%;
    height: 100vh;
    background: white;
    position: relative;
}

section.visual .slide li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

section.visual .slide li .txt {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 18px;
}

section.visual .slide li .txt h3 {
    font-size: 64px;
    margin: 30px 0;
    line-height: 1.3;
}

section.visual .slide li .txt a {
    display: inline-block;
}

section.visual .slide li .txt a span {
    font-size: 14px;
    margin-left: 5px;
}

section.visual .slide li .scroll {
    position: absolute;
    left: 50px;
    bottom: 10%;
    color: #ccc;
    font-size: 14px;
    font-weight: bold;
    transform: rotate(-90deg);
}


/* step2: 스크롤 버튼 스타일링 */
.slick-arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: none;
    z-index: 5;
    text-indent: -9999px;
    border: none;
}

.slick-arrow::after {
    content: '<';
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    left: 0;
    top: 0;
    text-indent: 0;
    font-weight: 300;
    transition: all 0.2s;
}
.slick-arrow.slick-prev {
    bottom: 60px;
}

.slick-arrow.slick-next::after {
    content: '>';
}

.slick-arrow:hover {
    cursor: pointer;
    background: none;
    transform: all .5s;
}

.slick-arrow:hover::after {
    font-size: 28px;
    color: #333333;
    transition: all .2s;
}

.slick-active .txt p {
    animation: txt1 .8s;
}
@keyframes txt1 {
    0% {opacity: 0; transform: rotateX(180deg) translateY(-150px); }
    20% {opacity: 0; transform: rotateX(180deg) translateY(-150px); }
    100% {opacity: 1; transform: rotateX(0) translateY(0); }
}

.slick-active .txt a {
    animation: txt2 .8s;
}
@keyframes txt2 {
    0% {opacity: 0; transform: rotateX(180deg) translateY(150px); }
    20% {opacity: 0; transform: rotateX(180deg) translateY(150px); }
    100% {opacity: 1; transform: rotateX(0) translateY(0); }
}

.slick-active .txt h3 {
    animation: txt3 .7s;
}
@keyframes txt3 {
    0% {transform: translateX(0); }
    40% {transform: translateX(-50px); }
    100% {transform: translateX(0); }
}

.slick-active .scroll {
    animation: scroll 1s;
}
@keyframes scroll {
    0% {opacity: 0; left: -100px; }
    30% {opacity: 0; left: -100px; }
    100% {opacity: 1; left: 50px; }
}

section.visual .slick-active img {
    animation: img 1s;
}
@keyframes img {
    0% {opacity: 0; left: -80px; transform: scale(0.95) }
    100% {opacity: 1; left: 0; }
}

/* section contents */
section.contents {
    background: whitesmoke;
    padding: 10px 0 100px;
    overflow: hidden;
}

section.contents .main-text {
    width: 1170px;
    margin: 0 auto;
    color: #fff;
    position: relative;
    padding-bottom: 50px;
    display: flex;    
}


section.contents .main-text::after {
    content: '”'; /* ㄴ 한자 */
    font-size: 300px;
    position: absolute;
    left: 0;
    top: 50px;
}

section.contents .main-text::before {
    content: '';
    position: absolute;
    background: #ffec03;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 70px;
    top: 130px;
}

section.contents .main-text h3 {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.2;   
    flex: 1; 
    /* background: red; */
}

section.contents .main-text p {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    /* background: blue; */
    font-size: 25px;
    line-height: 1.4;
}

section.contents .main-text p span {
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #999;
}

/* section contents project */
section.contents .project {
    color: #fff;
    margin-left: 150px;
    margin-right: 150px;    
}

section.contents .project .top {
    width: 1500px;
    margin: 60px auto 60px;
    height: 90px;
    color: magenta;
    display: flex;
    justify-content: space-between;
}

section.contents .project .top h3 {
    font-size: 35px;
    font-weight: bold;
    line-height: 1.3;
}

section.contents .project .top a {
    display: block;
    font-size: 18px;
}

section.contents .project .top a span {
    font-size: 14px;    
    margin-left: 5px;
}

section.contents .project ul {
    display: flex;  
}

section.contents .project ul li {
    width: 25%;
    margin-right: 1%;
    height: 300px;
}

section.contents .project ul li:first-child {
    margin-left: 1%;
}

section.contents .project ul li a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

section.contents .project ul li a img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

section.contents .project ul li a .name {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #1b1b1b;
    padding: 15px;
    width: 250px;
    text-align: right;
    font-size: 22px;
    box-sizing: border-box;
    opacity: 0;
}

section.contents .project ul li a:hover .name {
    animation-name: showTitle;
    animation-duration: 1s;
    opacity: 1;
}
@keyframes showTitle {
    0% {opacity: 0; bottom: -10%;}
    100% {opacity: 1; bottom: 10px; right: 10px}
}

section.contents .project ul li a::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(27, 27, 27, 0.9);
    transition: all 0.6s;
    box-sizing: border-box;
}

section.contents .project ul li a:hover::before {
    width: 100%;
    transition: all 0.6s;
    animation: makeBorder 4s infinite;
}
@keyframes makeBorder {
    0% { 
        border-top: 7px solid #676565;
    }
    25% {
        border-right: 7px solid #676565;
    }
    50% {
        border-bottom: 7px solid #676565;
    }
    75% {
        border-left: 7px solid #676565;
    }
    100% {
        border: 7px solid #676565;
    }
}

section.contents .project ul li a .name span {
    font-size: 15px;
    font-weight: bold;
}

section.contents .project ul li a .name h3 {
    text-transform: uppercase;    
}

/* section contents partner */
section.contents .partner {
    width: 1170px;
    margin: 170px auto 100px;
    background-color: blueviolet;
}

section.contents .partner h3 {
    font-size: 17px;
    font-weight: 400;
}

section.contents .partner ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section.contents .partner ul li {
    height: 100px;
    margin-top: 80px;
    text-align: center;
}

section.contents .partner ul li img {
    display: inline-block;
    opacity: .4;
    transition: all .3s;
}

section.contents .partner ul li:hover img {
    opacity: 1;
    transition: all .3s;
}

/* section contents contact */
section.contents .contact {
    width: 90%;
    background: url(../img/contact.jpg) no-repeat;
    background-size: 100%;
    background-position: left;
    background-attachment: fixed;
    padding: 220px 0;
    color: #fff;
    position: relative;
    /* margin-bottom: 500px; */
}

section.contents .contact .inner {
    width: 1170px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1.3;
}

section.contents .contact .inner h3 {
    font-weight: 400;
}

section.contents .contact .inner .tel {
    margin: 50px 0;
    font-size: 55px;
    font-weight: 700;
}

/* footer */
footer {
    background:whitesmoke;
    color: #999;
    padding: 0 0px 0px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: #999 1px solid;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    vertical-align: middle;
    position: relative;
}

footer .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}
footer .socials li{
    margin: 0 10px;
}
footer .socials a{
    text-decoration: none;
    color: gray;
}
footer .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
footer .socials a:hover i{
    color: hotpink;
}

footer .go-top {
    display: block;
    font-size: 50px;
    color: orange;
    position: fixed;
    right: 50px;
    bottom: 60px;
}

ul.animate{
    margin-bottom: 50px;
}