*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container{
    width: 350px;
    height: 380px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius : 1px;
    display:flex;
    flex-direction: column;
}

.login_logo{
    height: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    width: 175px;
    height: 51px;
}


.login_main{
    height: 40%;
}


.login_ask{
    display: flex;
    flex-direction: column;
    height: 100%;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.idInput{
    width: 268px;
    background-color: rgb(250,250,250);
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    border: 1px solid #efefef;
    margin:auto;
    margin-bottom: 7px;
    padding: 9px;
}


.pwInput{
    width: 268px;
    background-color: rgb(250,250,250);
    border-radius: 3px;
    color: #262626;
    font-size: 14px;
    border: 1px solid #efefef;
    margin:auto;
    margin-bottom: 7px;
    padding: 9px;
}

.logOff{
    width: 268px;
    background-color: rgb(183,212,246);
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    border : 0;
    text-align: center;
    color: rgb(255,255,255);
    justify-content: end;
    margin: 5px;
}


button{
    width: 268px;
    background-color: #3897f0;
    font-size: 14px;
    padding: 5px;
    border-radius: 3px;
    border : 0;
    text-align: center;
    color: rgb(255,255,255);
    justify-content: end;
    margin: 5px;
}

.login_help{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.login_forgetPW{
    font-size: 12px;
    line-height: 14px;
    color: #003569;
    text-align: center;
    margin-bottom : 19px;
    border: 0;
}