*{
  box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

html{
    widows: 100%;
    height: 100%;
    margin: 0;
}

.conatainer{
    width: 100%;
    height: 100%;
    margin: 0;
}
.nav{
    top: 0;
    width: 100%;
    background-color:rgba(var(--cdc,255,255,255),1);
    height: 77px;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navbar{
    height: 77px;
    width: 100%;
    max-width: 975px;
    padding: 26px 20px 26px 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
    justify-content:start;
}


.logo{
    top: 0;
    width: 360px;
    height: 60px;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: start;

}


.logo_iconBox img{
    width: 25px;
    height: 25px;
    border-right : thin;
}

.logo_line{
    width: 1px;
    background-color: #262626;
    margin : 0 16px;
    height: 28px;
}

.textlogo{
    width: 106px;
    height: 32px;
    object-fit: cover;
}

.search{
    position: relative;
    color:#999;
    cursor: text;
    width : 215px;
    height: 28px;
}

.search input{
    width : 215px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    color:#999;
    background-color: #fafafa;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    outline: 0;
    padding: 3px 10px 3px 10px;
    z-index: 2;
    margin: 0;
    text-align: center;

}

.rightmenu{
    width: 360px;
    height: 24px;
    display: flex;
    justify-content: flex-end;
}

.rightBox{
   width: 156px;
   height: 25px;
   display: flex;
   justify-content: space-between;
   padding : 0 0 0 24px;
}

.rightBox img{
    width: 25px;
    height: 25px;

}

.main{  
  width: 100%;
  height: 100%;
  background-color: rgba(var(--b3f,250,250,250),1);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  
}

.mainContainer{
  width: 100%;
  max-width: 935px;
  margin: 0 232.5px;
  padding-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feed{
    margin-right: 28px;
    max-width: 614px;
    width: 100%;
    margin: 0;
    margin-right: 35px;
    padding: 0;
}

.article{
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    background-color: rgba(var(--cdc,255,255,255),1);
    font-size: 14px;
    display: flex;
    flex-direction: column;
}


.feed_top{
  height: 60px;
  width: 100%;
  padding: 16px;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.feed_TopProfileImg{
    width: 42px;
    height: 42px;
    padding: 0;
}

.feed_profileCanvas{
    width: 42px;
    height: 42px;
   padding: 0;
   margin: 0;
   size: 100%;
}
 
.feed_TopProfileImg img{
    width: 100%;
    height: 100%;
    height: 32px;
    
    width: 32px;
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    
}
 

.feed_TopProfileId{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 12px;
    width: 534px;
    height: 18px;
}

.postImg img{
    width: 612px;
    height: 612px;
}

.profileId{
    color:rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    padding-left: 5px;
}

.option{ 
    font-size: 19px;
    font-weight: 800;
    padding-left: 5px;
}

.comment_active{
    padding-left: 16px;
    padding-right: 16px;
    width: 614px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment_active img{
    width: 24px;
    height: 24px;
    margin: 4px;
}

.bookmark img{
    margin-left : 460px;
}


.likeBox{
    padding-left: 16px;
    padding-right: 16px;
    width: 614px;
    height: 20px;
    display: flex;
    flex-direction: row;
  
  }

.likeProfile img {
    width:20px;
    height: 20px;
    border-radius: 50%;
}


.likeMessage{
    width: 558px;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
   padding-left: 10px;
}


.showComment{
    width: 558px;
    max-height: 100px;
    padding-left: 16px;
    padding-right: 16px;
    overflow-y: auto;
    overflow-x: hidden;

}

.commentBox{
    width: 568px;
}

.commentSet{
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.commentId {
    font-weight: 600;
    font-size: 15px;
    color: rgba(var(--i1d,38,38,38),1)
}

.commentContents{
    padding-left: 5px;
    width: 614px;
    color: #999;
    line-height: 18px;
}

.replyForm{
    width: 612px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;

}

.replyInput{
    width: 530px;
    height: 18px;
    border: 0;
    font-size: 14px;
    line-height: 18px;

}

.reply_line{
    width: 612px;
    height: 1px;
    background-color: rgba(var(--ce3,239,239,239),1)
    
}
.replyBtn{
    color: #3897f0;
    text-align: center;
    opacity: .3;
    border : 0;
    font-size: 14px;
    line-height: 18px;
    width: auto;
}

.main_right{
   margin-bottom: 30px;
   max-width: 293px;
   display: flex;
   flex-direction: column;
   justify-content: start;
}
.userProfile{
    height: 62px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 12px;
    padding-left: 5px;
    justify-items: center;
    align-items: center;
}

.userImg{
    width: 60px;
    height: 60px;
}

.userImg_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.userInfo{
  display: flex;
   justify-content: center;
  flex-direction: column;
  width: 157px;
  height: 34px;
  margin-left: 14px;
}

.userId{
    font-weight: 600;
}

.userName{
    font-size: 12px;
    line-height: 14px;
    color: #999
}

.story{
    width: 293px;
    height: 233px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(var(--cdc,255,255,255),1);
    border-radius: 4px;
    border: 1px solid rgba(var(--b6a,219,219,219),1)
}

.storyTop{
    width: 291px;
    height: 19px;
    margin: 0px;
    margin-top: 14px;
    padding: 0 13px;
    /* padding-left: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    width: 190px;
    padding-left: 10px;
    margin: 0;
    color: #999;
    font-size: 14px;
    font-weight: 600;
}
.seeAll{
    font-size: 14px;
    color: #262626;
    margin:0;

    font-weight: 500;
}

.storyContainer{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 291px;
    height: 182px;
    margin : 8px 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.storyBox{
    width: 275px;
    height: 44px;
    padding: 1px 7px 2px 5px;
    align-items: center;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 8px;
    margin-left: 0px;

    }

.storyImg{
    width: 44px;
    height: 44px;
    padding: 0;
    margin-left: 15px;
    margin-top: 5px;
    border: 1.5px solid rgb(197,17,118);
    border-radius: 50px;
    display: flex;
    
    align-items: center;
    padding: 0;
}

.storyImg img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin : auto;

}

.storyInfo{
    width: 155px;
    height: 34px;
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.storyId{
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.storyTime{
    font-size: 10px;
    color: #999;
}

.recommendation{

    width: 293px;
    height: 197px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(var(--cdc,255,255,255),1);
    border-radius: 4px;
  
    overflow : hidden;
    border: 1px solid rgba(var(--b6a,219,219,219),1)

}

.RM_top{
    width: 291px;
    height: 19px;
    margin: 12px 0 9px ;
    padding: 4px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.RM_container{
    margin-left: 0px;
    width: 287px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.RM_box{
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RM_img{
    width: 42px;
    height: 42px;
    margin-left: 7px;
    margin-top: 5px;
}

.RM_img img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.RM_Id{
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}
.RM_info{
    width: 171px;
    height: 42px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.RM_followers{
    font-size: 12px;
    color: #999;
}

.RM_follow{
    color: #3897f0;
    font-size: 12px;
}

.instaInfo{
    margin-top:10px;
    width: 278px;
    height: 50px;
    padding-bottom: 38px;
    background-color: transparent;
    font-size: 11px;
    color: #c7c7c7;    
}

.tagBox{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap:wrap;
    padding: 1px;
}


.tag{
    display: inline;
    font-size: 11px;
    color: #c7c7c7;
    font-weight: 400;
    text-transform: none;
    line-height: 13px;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    padding: 2px;
}