

.m_text{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.m_text_profile{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.s_text{
    font-size: 10px;
    color: #999;
}


body{
    background:#fafafa;
}


#header{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background:white;
    border-bottom:1px solid rgba(0,0,0,0.1);
}

#header.on{
    position: fixed;
}




#header .inner{
    width: 975px;
    height: 77px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition:all 1s;
}

#header.on .inner{
    height:52px;
}

#header .inner .logo > a{
    color:transparent;
}

#header .inner .logo .sprite_insta_icon{
    position: relative;
    margin-right: 30px;
}

#header .inner .logo .sprite_insta_icon:after{
    content: '';
    width: 1px;
    height: 28px;
    background: #000;
    position: absolute;
    right: -15px;
    top: -4px;
    transition:all .5s;
}
#header .inner .logo div{
    vertical-align: middle;
}

#header .inner .logo div:nth-child(2){
    transform:translateY(2px);
    transition:all .5s;
}

#header.on .inner .logo .sprite_insta_icon:after{
    opacity: 0;
}
#header.on .inner .logo div:nth-child(2){
    opacity: 0;
}

#header .search_box{

    position:relative;
}


#search-field{
    width: 185px;
    height: 28px;
    background:#fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding:3px 30px;
    color:#999;
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    outline:none;
}

#search-field::placeholder{
    font-size: 0;
}

#search-field:focus::placeholder{
    font-size: 14px;
}


#header .search_box .fake_field{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    pointer-events: none;
}


#search-field:focus ~ .fake_field > span:nth-child(1){
    transform:translateX(-105px);
}


#search-field:focus ~ .fake_field > span:nth-child(2){
    display: none;
}

#header .right_icons{
    width: 132px;
    display: flex;
    justify-content: space-between;
}

#main_container{
    padding-top: 130px;
    display: flex;
    justify-content: center;
}

#main_container .inner{
    width: 935px;
    /*height: 500px;*/
    /*background: red;*/
    position: relative;

}

#profile_container{
    padding-top: 130px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.contents{
    max-width: 614px;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    margin-bottom: 60px;
    background: white;
}

.contents .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.contents .top .profile_img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow:hidden;
    margin-right: 10px;
}

.contents .top .profile_img img{
    width: 100%;
}

.contents .top .user_container{
    display: flex;
}

/* .user_container .user_name . */

.contents .sprite_more_icon{
    position: relative;
}

.contents .toggle_box{
    text-align: center;
    position: absolute;
    right: 0;
    top: 20px;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
    display: none;
}

.contents .sprite_more_icon.on .toggle_box{
    display: block;
}

.contents .toggle_box > li{
    padding: 5px 10px;
    background: white;
}

.contents .toggle_box > li input{
    border: none;
    font-size: inherit;
}

.contents .img_section{
    overflow:hidden;
}

.contents .img_section img{
    width: 100%;
}


.contents .bottom_icons{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 10px 20px 0px;
}

.contents .bottom_icons .left_icons{
    display: flex;
}

.contents .bottom_icons .left_icons > div{
    cursor:pointer;
    padding-left: 15px;
}

.lnr-pencil:hover{
    color: yellow;
}

.lnr-trash:hover{
    color: red
}

.contents .likes{
    padding: 5px 20px;
    color:#262626;
}


.contents .comment_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.contents .comment_container .comment{
    display:flex;
    flex-direction: column;
    font-size: 14px;
}

.contents .comment_container .comment-detail{
    display: flex;
}

.contents .comment_container .comment .nick_name{
    margin-right: 10px;
}


.contents .timer{
    font-size: 10px;
    letter-spacing: 0.2px;
    color:#999;
    border-bottom: 1px solid rgba(0,0,0,0.09);
    padding: 10px 20px;
}


.contents .comment_field{
    min-height:56px;
    padding: 0 20px;
    position: relative;
}


.contents .comment_field input{
    width: 100%;
    height: 56px;
    border: none;
    outline:none;
    background: transparent;
}

.contents .comment_field input:focus ~ .upload_btn{
    pointer-events: initial;
    opacity: 1;
}

.contents .comment_field .upload_btn{
    color:#3897f0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform:translateY(-50%);
    cursor: pointer;
    /*pointer-events: none;*/
    opacity: 0.6;
}


.side_box{
    width: 293px;
    /*height: 300px;*/
    /*background: rgba(255, 0, 0, 0.16);*/
    position:absolute;
    right: 0;
    top: 0;
}

.side_box.on{
    position: fixed;
    top: 80px;
}

.side_box .profile_thumb{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow:hidden;
    margin-right: 10px;
}

.side_box .myprofile_thumb{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.side_box .myprofile_thumb img{
    width: 100%;
    height: 100%;
}

.side_box .thumb_text{
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
}

.thumb_box {
    background: linear-gradient(to bottom, transparent, black);
    position: absolute; 
    z-index: 1; 
    width: 100%; 
    height: 160px; 
    bottom: 0%;
}

.side_box .profile_thumb img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.side_box .user_profile{
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#262626;
}
.side_box .detail .id{
    margin-bottom: 5px;
}

.side_box .detail .ko_name{
    font-size: 10px;
    color:#999;
    margin-top: 6px;
}


.side_box > article{
    /* border: 1px solid rgba(0,0,0,0.09); */
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 291px;
    font-size: 14px;
    color:#262626;
    font-weight: bold;
    background: white;
}

.side_box > article > header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    color:#999;
}


.side_box > article > header .more{
    font-size: 12px;
    color:#262626;
    cursor:pointer;
}

.thumb_user{
    position: relative;
    align-items: center;
    padding: 10px 20px;
}

.thumb_user .profile_thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.thumb_user .time{
    font-size: 10px;
    letter-spacing: 0.2px;
    color:#999;
}


.side_box .scroll_inner{
    height: 182px;
    overflow-x: hidden;
    overflow-y: auto;
    /*overflow:hidden auto;*/

}


.hidden_menu{
    display:none;
    width: 600px;
    /*background: red;*/
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top: 100px;
    overflow:hidden;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 3px;
}


.hidden_menu .scroll_inner{
    height: 100px;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    padding: 0 10px;

}

.hidden_menu .scroll_inner .user{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    justify-content: space-between;
}

.hidden_menu .scroll_inner .user .id{
    font-size: 12px;
    color:#262626;
}
.hidden_menu .thumb_img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
}

.hidden_menu .thumb_img img{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1000px){

    #header .inner{
        width: 97.5%;
    }

    #main_container{
        padding-top: 220px;
    }
    #main_container .inner{
        width: 93.5%;

    }

    .contents_box{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .side_box{
        display: none;
    }


    .hidden_menu{
        display:block;

    }
}

@media screen and (max-width:650px){

    #header .search_box{
        display:none;
    }

    .hidden_menu{
        width: 95%;
    }


}

/* comment */
.showComment{
    width: 558px;
    max-height: 100px;
    padding-left: 16px;
    padding-right: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;
}

.showComment::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.showComment::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.showComment::-webkit-scrollbar-track {
    background: none;  /*스크롤바 뒷 배경 색상*/
}

.commentBox{
    width: 568px;
    align-content: center;
    align-items: center;
    display: flex;
}

.commentSet{
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    justify-content: space-between;
    align-content: space-between;
}

.commentId {
    font-weight: 600;
    font-size: 15px;
    color: rgba(var(--i1d,38,38,38),1)
}

.commentContents{
    padding-left: 5px;
    width: 614px;
    color: #999;
    line-height: 18px;
}
/* =========== */

.replyInput{
    width: 530px;
    height: 18px;
    border: 0;
    font-size: 14px;
    line-height: 18px;

}

.replyBtn{
    color: #3897f0;
    text-align: center;
    opacity: .3;
    border : 0;
    font-size: 14px;
    line-height: 18px;
    width: auto;
}








